### AL ###

# symbols folder
.alpackages/
.packages/

# snapshots folder
.snapshots/

# vscode folder
.alcache/
.altemplates/
launch.json
rad.json

# Build folders and files
.output/
.dependencies/
.buildartifacts/
BuildOutput.txt

# Test folders and files
.altestrunner/
TestResults.xml
TestResults*.xml
bcptTestResults*.json

#Extension App-file
*.app

#Translation Base-file
*.g.xlf

#License-file
*.flf
*.bclicense

# Other
.DS_Store
Thumbs.db
cache_*
~$*

# Include app.json
!app.json